<%%= simple_form_for @<%= file_name %> do |form| %>
  <%%= render :partial => 'shared/form_errors', :locals => {:form_object => @project} %>

  <%- for attribute in attributes -%>
  <%%= form.input :<%= attribute.name %>, :label => '<%= attribute.name.titleize %>' %>
  <%- end -%>

  <div class="actions">
    <%%= form.button :submit %>
  </div>
<%% end %>
